/*каждому элементу добавить класс цвета и уменьшить записи в css*/
div {
	color:white;
}
.small {
	width:50px;
	height:50px;
}
.red {
	background-color:red;
}
.black {
	background-color:black;
}
.green {
	background-color:green;
}
.long_gor {
	width:150px;
	height:50px;
}
.big {
	width:100px;
	height:100px;
}
.verybig {
	width:150px;
	height:150px;
}
.long_verybig {
	width:300px;
	height:150px;
}
.big_15x10 {
	width:150px;
	height:100px;
}
.big_20x20 {
	width:200px;
	height:200px;
}
.long_5x15 {
	 width:50px;
	 height:150px;
}
.long_5x10 {
	width:50px;
	height:100px;
}
.long {
	width:100px;
	height:50px;
}
.long_10x5 {
	width:100px;
	height:50px;
}
.med_7x7 {
	width:70px;
	height:70px;
}
.big_12x12 {
	width:120px;
	height:120px;
}
.big_13x13 {
	width:130px;
	height:130px;
}
.big_22x22 {
	width:220px;
	height:220px;
}
.med_6x6 {
	width:60px;
	height:60px;
}
.little {
	width:35px;
	height:35px;
}
.med_8x8 {
	width:80px;
	height:80px
}
.little_4x4 {
	width:40px; 
	height:40px;
}
.med_long {
	width:60px;
	height:40px;
}
.veribig_24x24 {
	width:240px;
	height:240px;
}
.bigl {
	width:180px;
	height:120px;
}
	/*hower - при наведении чтото изменяется */
.red:hover {
	background-color: yellow;
}
.black:hover {
	background-color: green;
}
.green:hover {
	background-color: purple;
}