.h1 {
	float:left;
	margin: 0 0 0 20px;
}
.menu {
	float:right;
	margin: auto;
}
.menu li {
	display: inline-block;
	font-size: 18px;
}
.horizontal .menu li:before {
	content: "-";
}
li:first-of-type:before {
	content: "";
}

/*
.menu_none1::before {
	content: "\2013";
	padding: 5px;
}*/
li {
	padding:10px;
	width:120px;
}
li:hover {
	transform: scale(1.1);
	font-weight: bold;
	padding:0;
}
.horizontal {
}
.text {
	clear:both;
}