.h1 {
	float:left;
	margin: 0 0 0 20px;
}
.menu {
	float:right;
	margin:0;
}
.menu li {
	display: inline;
	font-size: 14px;
}
li:before {
	content: "-";
	padding: 5px;
}
li:first-of-type:before {
	content: "";
}
li {
	padding-left:10px;
	width:100px;
}
li:hover {
	font-size: 16px;
	font-weight: bold;
}
.text_major,
.text_about,
.text_supp,
.text_conts,
.text_pfolio {
	display:none;
}
.text_about:target,
.text_supp:target,
.text_conts:target,
.text_pfolio:target {
	background-color: lightpink;
	display: block;
	font-family: Arial, sans-serif;
	font-weight: bold;
	text-align: center;
	padding: 5px;
}
.text_major:target {
	display: block;
}
.text {
	clear:both;
	margin: 0 20px;
}