						/*Header*/
* {
	font-family: Arial, sans-serif;
}
body {
	width: 760px;
}
.header {
	height: 100px;
	background-color: black;
}
.DS {
	width: 250px;
	height: 50px;
	margin: 25px 0 25px 25px;
	font-size: 35px;
	color: white;
	float: left;
}
.list {
	float: right;
	margin: 30px 25px 0 0;
}
li {
	display: inline;
	margin-right:10px;
}
a {
	text-decoration: none;
	color: white;
	font-size: 14px;
}
a:hover {
	color: #00FFFF;
	font-size: 14px;
}
					/*main*/
.h1 {
	color: grey;
	font-weight: normal;
}
.img1 {
	width: 24px;
	height: 24px;
	margin: 0 5px;
}
.text {
	padding:10px 0;
	font-size: 20px;
	border-bottom: 2px dotted grey;
	border-top: 2px dotted grey;
}
.WMO, 
.main_a, 
.text, 
.comm_futer {
	margin:0 25px;
}
.WMO {
	border-bottom: 2px dotted grey;
	padding-bottom: 10px;
	height: 310px;
}
.web,
.mar,
.opt {
	width: 200px;
	height: 280px;
	background-color: #1E90FF;
	color: white;
	text-align: center;
}
.web {
	float:left;
	margin: 25px 0;
}
.mar {
	float:left;
	margin: 25px 55px;
}
.opt {
	float:right;
	margin: 25px 0;
}
.zagla {
	border-bottom: 2px dotted white;
	font-size: 24px;
	margin: 15px 15px;
	padding-bottom: 10px;
}
.lorem {
	font-size: 14px;
	margin: 15px 15px;
}
.open {
	border: 1px solid black;
	margin: 10px 10px 0 10px;
	background-color: #4682B4;
}
.open:hover {
	background-color: black;
}
.comm_futer {
	height: 350px;
	border-bottom: 2px dotted grey;
}
.podz {
	font-size: 25px;
}
.gquadro1,
.gquadro2,
.gquadro3 {
	width: 70px;
	height: 70px;
	background-color: grey;
	float:left;
	margin: 10px 10px 0 0;
}

.futer_b1 {
	font-size: 14px;
	float:left;
	width: 340px;
	padding-right: 15px;
	border-right: 2px dotted grey;
	height: 340px;
}
.f_bl1 {
	margin-top: 10px;
}
.futer_b2 {
	font-size: 14px;
	float:right;
	width: 340px;
	height: 340px;
}
.img2 {
	width: 340px
}
.b_ss {
	display: block;
	text-decoration: none;
	color: #00BFFF;
}
.b_ss:hover {
	color: pink;
}